.margin-nav-link {
    margin-left: 25%;
  }
  .margin-nav-link a {
    font-family: Impact;
    
  }
  
  .nav-link-effect:hover {
    transition: 0.9s;
    background-color: rgb(70, 181, 255);
    
    /* text-decoration: underline #5fcf80 2px; */
    transform: scale(1.5rem);
  }
  
  li a {
    letter-spacing: .1rem;
  }
  nav{
    background-color: rgb(255, 255, 255);
    box-shadow: 5px 10px #00000046;
    /* border-bottom: 0.05rem white solid; */}

    .hero-section{
      background-image: url(Images/bg5.jpg);
      background-size: cover;
      height: 30rem;
      background-attachment: fixed;
    }

    .btn-get-started{
      animation: animate-img infinite 1s;
      animation-direction: alternate;
    }
    
    @keyframes animate-img {
      from {
        transform: scale(1);
      }
    
      to {
        transform: scale(1.2);
        
        
      }
    }
    .logo-image{
      margin-left: 40px;
    }
    .hero-section h1{
      margin: 0;
    font-size: 48px;
    font-weight: 700;
    line-height: 56px;
    color: #fff;
    font-family: "Poppins", sans-serif
    }

.hero-section .btn-get-started {
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  font-size: 15px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 10px 35px;
  border-radius: 50px;
  margin-left: 10px;
  transition: 0.5s;
  margin-top: 30px;
  border: 2px solid #fff;
  color: #fff;
  text-decoration: none;
}
.btn-get-started:hover{
  background-color: rgb(70, 181, 255);
  border-color: rgb(70, 181, 255);
}

.btn-submit{
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  font-size: 15px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 10px 35px;
  border-radius: 50px;
  transition: 0.5s;
  margin-top: 30px;
  background-color: black;
  border: 2px solid #fff;
  color: #fff;
  text-decoration: none;
}
.btn-submit:hover{
  background-color: rgb(70, 181, 255);
  border-color:rgb(70, 181, 255);
}



.hero-section h2 {
    color: #eee;
    margin: 10px 0 0 0;
    font-size: 24px;
}

#student-form input{
margin-top: 1rem;
box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.489)
}
select{
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.489)
  }
table tr:nth-child(even){
  background-color: #ffffff;
}
table tr{
  height: 3rem;
}

table td{
  color: black;
}


footer{
    
  background-color: white;
  border-top: 0.2rem rgba(0, 0, 0, 0.363) solid;

  /* border-bottom: 0.05rem white solid; */

}

@media (max-width: 768px){
  .hero-section h1 {
    font-size: 28px;
    line-height: 36px;

    
}

.hero-section h2 {
  font-size: 18px;
  line-height: 24px;
}
.logo-image{
  margin-left: 2px;
}


}

@media (max-width: 768px){
  .cardwidth{
    width: 20rem;
 
  }
}
@media (min-width: 768px){
  .cardwidth{
    width: 13rem;
 
  }
}
